* {
  box-sizing: border-box;
}

body {
  font-family: 'Geologica', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ce1141 50%, #fdb927 50%);
}

.background {
  align-items: center;
  text-align: center;
  height: 80%;
}

.labron {
  max-width: 100%;
  height: 100%;
  width: 28%;
}

.mj {
  max-width: 100%;
  height: auto;
  width: 21.2%;
  position: relative;
  left: 5%;
}

.photo {
  height: 205px;
  margin-bottom: 5rem;
}

.white-bg {
  width: 60vw;
  background-color: #f1f6f9;
  position: relative;
  left: 20%;
  border-radius: 20px;
  margin-top: -0.3rem;
}

select {
  width: 17%;
  height: 2.2rem;
  text-align: center;
  border-radius: 1.2rem;
}

.names {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  align-content: center;
  position: relative;
  left: 20%;
  padding-top: 1.2rem;
}

.stats {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* New state of the shadow on hover */
}

.stats:hover {
}

.stats > p {
  padding-top: 1rem;
}

.large-num {
  display: grid;
  margin: auto;
  gap: 5%;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.inside-num {
  height: 5.5rem;
  width: 100%;
  border: bold;
  border-style: solid;
  color: black;
  border-radius: 0.5rem;

  margin: auto;

  justify-content: center;

  display: flex;
  flex-direction: column;
}

.inside-num {
  height: 5.5rem;
  width: 100%;
  border: bold;
  border-style: solid;
  color: black;
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1; /* Add this line */
}

.info {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.mjb {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #ce1141;
}

.lbjb {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #fdb927;
}

.minutes,
.minPerGoal {
  background-color: #f1f6f9;
  height: 2.2rem;
  padding-top: 0.5rem;
}

.min {
  height: 2.2rem;
  position: relative;
  padding-top: 0.5rem;
}

.more-stats {
  font-size: 0.7rem;
  position: relative;
  margin-top: 0.5rem;
  border-style: solid;
  border-color: black;
  width: 17%;
  border-width: 0.05rem;
  align-items: center;
  left: 42%;
  height: 1rem;
  border-radius: 8rem;
  margin-bottom: 1.5rem;
  padding-top: 1.2rem; /* Add space at the top */
  padding-bottom: 1.2rem; /* Add space at the bottom */
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center;
}

footer {
  position: fixed;
  background-color: #17408b;
  display: flex;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 4rem;
  bottom: 0%;
  left: 0;
}

.footer-content {
  display: flex;
}

.more,
.all-time,
.season {
  flex-grow: 1;
  width: 15rem;
  border-width: 0.7px;
  border-left-style: solid;
  border-color: black;
  height: 4rem;
  position: relative;
}

.more {
  border-right-style: solid;
}

@media screen and (max-width: 768px) {
  .white-bg {
    width: 85%;
    position: relative;
    left: 8%;
  }

  .inside-num {
    width: 100px;
    height: 50px;
  }

  .footer-content {
    width: 70%;
  }

  .labron {
    max-width: 100%;
    height: 100;
    width: 55%;
  }

  .mj {
    max-width: 100%;
    height: 100%;
    width: 40%;
    position: relative;
  }

  .large-num {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 415px) {
  /*.large-num {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative;
    right: 43%;
  }*/
  .large-num {
    width: 90%;
    position: relative;
    left: 0;
  }
  .inside-num {
    width: 100%;
    margin-bottom: 10px;
  }

  .more-stats {
    width: 50%;
    left: 25%;
  }

  .labron {
    max-width: 100%;
    height: 120%;
    width: 53%;
  }

  .mj {
    max-width: 100%;
    height: 100%;
    width: 41%;
  }
}

@media (max-width: 380px) {
  .large-num {
    width: 90%;
    position: relative;
    left: 0;
  }
  .inside-num {
    width: 100%;
    margin-bottom: 10px;
  }

  .labron {
    max-width: 100%;
    height: 120%;
    width: 50%;
  }

  .mj {
    max-width: 100%;
    height: 100%;
    width: 40%;
  }
}
